{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="post" id="changepw-form" class="form jumbotron">
        {{ form.csrf_token }}
        <h3 class="form-header">비밀번호 변경</h3>
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="old_pw">현재 비밀번호</label>
            <input type="password" name="old_pw" id="old_pw" class="form-control" placeholder="현재 비밀번호">
        </div>
        <div class="form-group">
            <div>
                <label for="new_pw1">새 비밀번호 (6자 이상)</label>
                <input type="password" name="new_pw1" id="new_pw1" class="form-control" placeholder="새 비밀번호">
            </div>
            <div>
                <input type="password" name="new_pw2" id="new_pw2" class="form-control" placeholder="새 비밀번호 확인">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="/static/js/validate.js"></script>
{% endblock %}