{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="pb-3">
        <h2>회원 탈퇴</h2>
        <h4 style="color: red"> ! 주의 ! </h4>
        <p>
            회원 정보 및 도감 기록 사항은 즉시 전부 삭제됩니다. <br>
            복구가 불가능하오니 신중하게 결정해주시기 바랍니다.
        </p>
    </div>
    <form method="post" id="leave-form" onsubmit="return false;">
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
            <script>
                alert("{{ message }}")
            </script>
        {% endfor %}
        <div class="form-group">
            <label for="password"></label>
            <span>탈퇴를 원하신다면 비밀번호를 입력해주세요.</span>
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호" value="{{ form.password.data or '' }}">
        </div>
        <button id="leave-btn" class="btn btn-danger btn-block">탈퇴하기</button>
    </form>
</div>
{% endblock %}

{% block script %}
    <script src="/static/js/validate.js"></script>
    <script src="/static/js/leave.js"></script>
{% endblock %}