{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="post" class="form jumbotron">
        {{ form.csrf_token }}
        <h3 class="form-header">회원가입</h3>
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="email">이메일 ID</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="이메일 ID" value="{{  form.email.data or '' }}">
            <small class="form-text text-muted">비밀번호 찾기에 이용되오니, 정확한 이메일을 입력해주세요!</small>
        </div>
        <div class="form-group">
            <div>
                <label for="password1">비밀번호</label>
                <input type="password" name="password1" id="password1" class="form-control" placeholder="비밀번호" value="{{ form.password1.data or '' }}">
                <small class="form-text text-muted">6자 이상</small>
            </div>
            <div>
                <label for="password2">비밀번호 확인</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="비밀번호 확인" value="{{ form.password2.data or '' }}">
            </div>
        </div>
        <div class="form-group">
            <label for="name">닉네임</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="닉네임" value="{{ form.name.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
</div>
{% endblock %}
